@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Open+Sans&family=Poppins&display=swap");

body {
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
}

/* common styles */
p,
span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}
/* style for header */
.banner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 160px 230px;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    text-align: right;
}
.banner h1 {
    font-size: 65px;
    font-weight: 700;
}
.but-contact-us {
    height: 64px;
    padding: 20px 25px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff7200;
    border: none;
    border-radius: 5px;
}
.but-contact-us:hover {
    background-color: #d15d00;
}

/* style for main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* style for failures */
.failures {
    margin-top: 130px;
    display: flex;
    align-items: center;
}

.failures-photo {
    width: 50%;
}
.failures-photo img {
    width: 100%;
}
.failures-info {
    width: 50%;
    padding-left: 90px;
}
/* .failures-info h2 {
    font-size: 40px;
    font-weight: 700;
} */
.failures-info p {
    width: 400px;
}
.failures-info ul {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}
.failures-info ul li {
    padding-bottom: 5px;
}

/* Style for plans */
.plans {
    margin-top: 130px;
}
.plans h2 {
    text-align: center;
}
.plan-cart-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.plan-cart {
    width: 258px;
}
.plan-cart h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}
.plan-cart span {
    font-size: 20px;
    font-weight: 500;
}

/* style for positive mindset */
.positive-mindset {
    margin-top: 130px;
    padding: 59px 64px;
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    border-radius: 8px;
}
.positive-mindset h2 {
    color: #ffffff;
}

.positive-mindset button {
    padding: 20px 36px;
    font-size: 20px;
    font-weight: 600;
    color: #ff7200;
    border: none;
    border-radius: 5px;
}
.positive-mindset button:hover {
    background-color: #ffc392;
    color: #ffffff;
}
